@tailwind base;
@tailwind components;
@tailwind utilities;

.Toastify__toast--success {
  border: 1px solid #02032b !important;
  background: #eceff1 !important;
}

.Toastify__toast-body {
  color: #02032b;
  margin-left: 15px !important;
}

.Toastify__toast > button > svg {
  display: none;
}

@layer components {
  .toastProgress {
    @apply !bg-dark border;
  }

  .heroButton {
    @apply px-2 py-2 sm:border border-dark rounded-full uppercase text-sm tracking-widest text-basic transition-all hover:border-primary/80 sm:px-6 dark:text-dark dark:border-primary dark:hover:border-dark;
  }

  .contactInput {
    @apply outline-none bg-basic/10 rounded-sm border-b px-6 py-3 border-easyDark text-basic/80 placeholder-basic transition-all focus:border-primary/60 focus:text-primary hover:border-primary/40 dark:text-dark/80 dark:placeholder-dark dark:focus:text-dark dark:hover:border-dark/40 dark:focus:border-dark/60;
  }
}
